* {
	margin: 0;
	 padding: 0;
}
.btnRss{
	margin:5px;
	padding:2px;
	float:left;
}
.container-fluid{
    padding: 0px !important;
}

#formContainer {
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
#showSettingsForm{
    height: 40px;
    width: 40px;
    float: right;
    padding:0px;
    background-color: #3498db;
}
#gear, #add{
    height: 20px;
    width: 20px;
}
#formContainer label, input {
	width: 100%;
	margin-bottom: 5px;
	margin-top: 2px;
    font-weight: normal;
}
.submitRss, .submitSettings{
	margin-top: 10px;
}
form h2{
    font-size: 20px;
}

#btnContainer {
	width: 100%;
	height: 100%;
	background-color: #efefef;
}
#btnContainer button {
	display: block;
	width: 100%;
}
#rssContainer h1.title {
	font: inherit;
	font: 22px;
	font-weight: bold;
	margin: 0 auto;
}
#menu {
	padding: 15px;
	background-color: #efefef;
	height: 100%;
}
#rssContainer .article {
	border-bottom: 1px solid #ccc;
	background-color: #efefef;
	padding: 15px;
}
#showAddRssForm {
	background-color: #2ecc71;
	font-size: 20px;
	padding: 0px;
	width: 40px;
	height: 40px;
    font-weight: bold;
}
div .readed {
    background-color: #2ecc71 !important;
}
div.readed h1 p.readStatus  {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    background-image: url("../img/check.svg") !important;
}
div.article h1 p.readStatus{
	width: 20px;
	height: 20px;
	display: inline-block;
	float: right;
	background-image: url("../img/square.svg");
}
#loader{
	margin-top: 200px;
	margin-left: calc(50% - 100px);
}
