@import "partials/_color";

#loader{
  margin-top: 200px;
  margin-left: calc(~"50% - 100px");
}


/* OverRide of nativeDroid2 */
.clr-bg-green {
  background-color: #4CAF50 !important;
}

#menuButton{
  padding: 0;
  margin:10px;
  width: 30px;
  height: 30px;
  img{
    width: 30px;
    height: 30px;
  }
}

/* RSS Container */

#rssContainer {
  margin-top: 4%;

  .alert{
    margin-top:5px;
  }

  .article {
    border-bottom: 1px solid @news_border;
    background-color: @background;
    padding: 15px;

    h1.title {
      font: inherit;
      font: 22px;
      font-weight: bold;
      margin: 0 auto;

      p.readStatus {
        width: 20px;
        height: 20px;
        display: inline-block;
        float: right;
        background-image: url("../img/square.svg");
      }
    }
  }

  div.readed {
    //background-color: @news_viewed !important;

    h1 {
      p.readStatus {
        background-image: url("../img/check.svg") !important;
      }
    }
  }

}